<div class="filter">
  <label class="filter__label">Ship Types:</label>
  <div class="filter__options-container">
    <div class="filter__option">
      <input
        type="radio"
        id="all-types"
        name="shipType"
        value="all"
        class="filter__input"
        [(ngModel)]="selectedShipType"
        (change)="shipTypeChanged.emit('all')"
      />
      <label for="all-types" class="filter__label-option">All</label>
    </div>
    <div *ngFor="let shipType of shipTypes" class="filter__option">
      <input
        type="radio"
        id="{{ shipType.originalType }}"
        name="shipType"
        [value]="shipType.originalType"
        class="filter__input"
        [(ngModel)]="selectedShipType"
        (change)="shipTypeChanged.emit(selectedShipType)"
      />
      <label for="{{ shipType.originalType }}" class="filter__label-option">
        {{ shipType.formattedType }} ({{ shipType.count }})
      </label>
    </div>
  </div>
</div>
