:host {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background);
  padding: 20px;
  border-bottom: 2px solid var(--color-accent);

  img {
    height: 25px;
  }

  a {
    display: flex;
    align-items: center;
  }
}
