:host {

  cursor: pointer;

  .button-filter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 10px;
    z-index: 500;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    cursor: pointer;

    span {
      margin-right: 5px;
    }
  }
}
