:host {
  display: block;
  position: absolute;
  top: 67px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .map-container {
    display: flex;
    height: calc(100vh - 76px);
    transition: margin-left 0.3s ease-in-out;
  }

  .map-filter--container {
    background-color: var(--color-white);
    position: absolute;
    left: -300px; // Start off-screen on desktop
    top: 6px;
    bottom: 0;
    width: 300px; // Width for the filter container
    transition: left 0.3s ease-in-out;
    z-index: 1001;

    &.is-visible {
      left: 0; // Slide in to view on desktop
    }
  }

  #map {
    flex-grow: 1; 
    transition: width 0.3s ease-in-out; 
  }

  @media (max-width: 767px) {
    .map-filter--container {
      width: 100%; 
      left: 0; 
      top: auto; 
      bottom: -300px; 
      height: 300px; 
      transition: bottom 0.3s ease-in-out; 
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

      &.is-visible {
        bottom: 0; 
      }
    }
  }
}
