:host {
  display: block;
  position: absolute;
  top: 67px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  .map-container {
    height: calc(100vh - 76px);
    width: 100%;
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
