<div class="map-container">
    <app-button
      [iconSrc]="'assets/images/icon_filter_white.svg'"
      [customClass]="'button-filter'"
      [isShown]="showFilters"
      [showText]="'Show'"
      [hideText]="'Hide'"
      (toggle)="handleToggle($event)">
    </app-button>
    <div class="map-filter--container" [class.is-visible]="showFilters">
      <app-filter
        [shipTypes]="shipTypes"
        [selectedType]="selectedShipType"
        (shipTypeChanged)="handleShipTypeChange($event)">
      </app-filter>
    </div>
    <div id="map"></div>
  </div>
  