@function hex-to-rgba($hex, $alpha: 1) {
  $r: red($hex);
  $g: green($hex);
  $b: blue($hex);
  @return rgba($r, $g, $b, $alpha);
}

:root {
  --color-white: #ffffff;
  --color-dark: #04060f;
  --color-gray: #f2f2f2;
  --color-line: #c8c8c9 ;

  /* Brand Colors */
  --color-primary: #be0000; /* Spire Red changed because ther provided color #e2e2e2 was a gray */
  --color-secondary: #0f447a;
  --color-accent: #008081;
  --color-supportive: #00806c;

  /* Additional Semantic Colors */
  --color-background: var(--color-white); /* Default background color */
  --color-text: var(--color-dark); /* Primary text color */
  --color-text-light: var(--color-white); /* Text color for dark backgrounds */
}
