@font-face {
  font-family: "Exo";
  src: url("assets/fonts/Exo-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 800; 
}
@import "./variables";

body {
    font-family: 'Exo', sans-serif;
    font-weight: 400; /* Regular */
    letter-spacing: .02em;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray);
}
